<!-- adminLayout.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>B_B ERP</title>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div id="main-wrapper">
    <!-- header -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <!-- sidebar -->
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>

    <!-- content area -->
    <main>
        <div layout:fragment="content">
            <!-- 자식 템플릿이 이 부분을 대체함 -->
        </div>
    </main>
</div>

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- Slimscroll JS -->
    <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>

    <!-- Select2 JS -->
    <script th:src="@{/assets/js/select2.min.js}"></script>

    <!-- Datetimepicker JS -->
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>

    <!-- Datatable JS -->
    <script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/js/dataTables.bootstrap4.min.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{/assets/plugins/morris/morris.min.js}"></script>
    <script th:src="@{/assets/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/assets/js/chart.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/app.js}"></script>

    <!-- Tagsinput JS -->
    <script th:src="@{/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
</body>
</html>
