<!-- head 부분을 fragment로 불러오기 -->
<th:block th:replace="fragments/head :: head"></th:block>
<body>
<!-- Main Wrapper -->
<div id="main-wrapper">

    <!-- Header 부분을 fragment로 불러오기 -->
    <th:block th:replace="fragments/header :: header"></th:block>
    <!-- Sidebar 부분을 fragment로 불러오기 -->
    <th:block th:replace="fragments/sidebar :: sidebar"></th:block>

    <!-- Main Content -->
    <main>
        <div class="page-content" th:insert="${content}"></div>
    </main>

</div>
<!-- /Main Wrapper -->
</body>
