<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>B_B_ERP</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/B.B.png}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">

    <!-- Lineawesome CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/line-awesome.min.css}">

    <!-- Chart CSS -->
    <link rel="stylesheet" th:href="@{/assets/plugins/morris/morris.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>

    <!-- Bootstrap Core JS -->
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- Slimscroll JS -->
    <script th:src="@{/assets/js/jquery.slimscroll.min.js}"></script>

    <!-- Chart JS -->
    <script th:src="@{/assets/plugins/morris/morris.min.js}"></script>
    <script th:src="@{/assets/plugins/raphael/raphael.min.js}"></script>
    <script th:src="@{/assets/js/chart.js}"></script>

    <!-- Custom JS -->
    <script th:src="@{/assets/js/app.js}"></script>
</head>
</html>
